<div class='jrnl card {{ entry.namespace }}'>
  <div class='timestamp text-center mbl'>
    <a href="{{ entry.url }}" >
      {{ entry.format_created }}
    </a>
  </div>

  <div class='title'> {{ &title }} </div>
  <div class='text'>{{ &content}} </div>

</div>
