<div class='jrnl card {{ 'compact' if compact }} {{ entry.namespace }} '>
  <div class='timestamp text-center mbl'>
    <a href="{{ entry.url }}" >
      {{ entry.format_updated }}
    </a>
    /
    <a href="{{ entry.url }}" >
      {{ entry.format_created }}
    </a>
  </div>

 
 {{#compact}}
    <a href="{{ entry.url }}" >
      <span class='title'> {{ &filename }} </span>
    </a>
 {{/compact}}
 {{^compact}}
  <div class='title'> {{ &title }} </div>
  <div class='text'>{{ &content}} </div>
 {{/compact}}

</div>
