<div class='jrnl card {{ entry.namespace.replace("/", "_") }}'>
  <div class='timestamp text-center mbl'>
    <a href="{{ url_for("get_wiki_page", name=entry.name) }}">
      {{ entry.format_created }}
    </a>
  </div>

  <div class='title'> {{ &title }} </div>
  <div class='text'>{{ &content}} </div>

</div>
