{% extends "layout.html" %}

{% block body %}

<h1 class="clearfix">{{ page.title or page.name }}
  <a href="{{url_for("get_edit_page", name=page.name) }}">
    <small class=''>edit</small>
  </a>

</h1> 

<div class="clearfix container">

  <div class='filename'>
      filename: {{ page.filename }}
  </div>

  <div class='timestamp'>
      created: {{ page.created | format_datetime}}
  </div>

  {% if page.updated != page.created %}
    <div class='timestamp'>
        updated: {{ page.updated | format_datetime}}
    </div>
  {% endif %}
</div>

<link rel="stylesheet" href={{ url_for('static', filename="mini-default.css") }} />
<link rel="stylesheet" href={{ url_for('static', filename="main.css") }} />

<div class='container'>
  <div class="{{ 'newspaper' if content|length > 3000 else 'singlecol' }}">
    {{ content|safe }}
  </div>
</div>

{% endblock %}
