
<div class="header clearfix">
  <div class='clearfix rfloat'>
    <a href='/settings/'>Settings</a>
  </div>
	<span class="rfloat">
		<a class='mll' href={{ url_for('get_jrnl') }}>Journal</a>
	</span>


  {{ CC("SearchBar").marshal(file_finder=filefinder and not popup) }}

</div>

<div class='clearfix'>
  <small style="clear: both; position: fixed; bottom: 5px; right: 5px; opacity: 0.5">
    Rendered in {{ g.request_time() }}
    <br />
    <span class='perftime'> </span>
  </small>
</div>

{{ g.render_breadcrumbs() | safe }}

