<!DOCTYPE HTML>
<html>

<head>
<title>{% block title %}{% endblock %}</title>

<script type="text/javascript" src="/static/jquery-3.3.1.min.js"> </script>
<link rel="stylesheet" href={{ url_for('static', filename="mini-default.css") }} />
<link rel="stylesheet" href={{ url_for('static', filename="main.css") }} />
<link rel="stylesheet" href={{ url_for('static', filename="reset.css") }} />
<link rel="stylesheet" href={{ url_for('static', filename="scrollers.css") }} />
</head>

<body class='container'>
{% block header %}

  {% include "header.html" %}
{% endblock %}


{% block body %} {% endblock %}
</body>

</html>
