<!DOCTYPE HTML>
<html>

<head>
<title>{% block title %}{% endblock %}</title>

{% if not popup %}
  <link rel="stylesheet" href={{ url_for('static', filename="bootstrap.css") }} />
  <link rel="stylesheet" href={{ url_for('static', filename="reset.css") }} />
  <link rel="stylesheet" href={{ url_for('static', filename="scrollers.css") }} />
  <link rel="stylesheet" href={{ url_for('static', filename="main.css") }} />
{% endif %}

</head>

{% block header %}
  {% if not popup %}
    <div class='fixedheader'>
        {% include "header.html" %}
    </div>
  {% endif %}
{% endblock %}

<body class='container-fluid'>
{% if not popup %}
  <div class='clearfix afterheader'> </div>
{% endif %}


{% block body %} {% endblock %}

{% include "footer.html" %}

</body>

</html>
