<html>

<head>
<title>{% block title %}{% endblock %}</title>

{% if not popup %}
  {{ add_stylesheet("bootstrap.css") }}
  {{ add_stylesheet("reset.css") }}
  {{ add_stylesheet("scrollers.css") }}
  {{ add_stylesheet("main.css") }}
{% endif %}
</head>

{% block header %}
  {% if not popup %}
    <div class='fixedheader'>
        {% include "header.html" %}
    </div>
  {% endif %}
{% endblock %}

<body class='container-fluid'>
{% if not popup %}
  <div class='clearfix afterheader'> </div>
{% endif %}


{% block body %} {% endblock %}

{% include "footer.html" %}

</body>

</html>
