<div class='{{ "newspaper" if not nv }} pagelisting {{ "hidden" if not filefinder }}' >
  <div class='namespace'>
    <div class='mll total'> {{ total }} pages total </div>
  </div>
  {% for ns in keys %}
    <div class='namespace'>
      <h2>{{ ns }}</h2>
      <ul>
      {% for page in namespaces[ns] %}
        <li><a class='wikilink' href="{{ url_for('get_wiki_page', name=page.name, id=page.id) }}">
          {{ page.title or page.name }}
        </a></li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}

  {% if nv %}
  <div class="quicklinks"> </div>
  {% endif %}
</div>

{% if not nv %}
  <div class="quicklinks"> </div>

{% endif %}


