{% extends "layout.html" %}

{% block body %}

<div class='content mll'>
  <h1 class="clearfix">{{ page.title or page.name }}
    {% if page.filename %}
      <a href="{{url_for("get_edit_page", name=page.name) }}">
        <small class=''>edit</small>
      </a>

    {% endif %}

  </h1> 

  <div class="clearfix mll ">

    <div class='filename'>
        filename: 
        <a href="{{url_for("get_terminal_page", name=page.name, id=page.id) }}">
          {{page.filename|format_dirname}}</a>/{{page.filename|format_filename}}
    </div>

    <div class='timestamp'>
        created: {{ page.created | format_datetime}}
    </div>

    {% if page.updated != page.created %}
      <div class='timestamp'>
          updated: {{ page.updated | format_datetime}}
      </div>
    {% endif %}
  </div>

  <div class='mll'>
    <div class="{{ 'newspaper' if content|length > 3000 else 'singlecol' }}">
      {{ content|safe }}
    </div>
  </div>
</div>
{% include "pagelisting.html" %}

{% endblock %}
