{% extends "layout.html" %}

{% block body %}

<script src="{{ url_for('static', filename="typeahead.jquery.js") }}"> </script>
<div class="clearfix">
  <h1>Append to page</h1>
  <button type='submit' class='lfloat' >
    save
  </button>
</div>

<link rel="stylesheet" href={{ url_for('static', filename="mini-default.css") }} />
<link rel="stylesheet" href={{ url_for('static', filename="main.css") }} />

<div class='container-fluid editor clearfix'>
  <form action="{{ url_for('post_append_page') }}" method='post'>
    <div>
      page: <br />

      <span style='margin-left: 4px'>
				<input type="text" class="formcontrol" id="pageid" name="name" > </input>
      </span>
    </div>

    <div>
      url: <br />
      <input class='title' type="text" name="url" value="{{ url }}"> </input>
    </div>
    <div>
      title: <br />
      <input class='title' type="text" name="title" value="{{ title }}"> </input>
    </div>

    <div>
      quote: <br />
      <textarea class='quote' name="quote">{{ quote }}</textarea>
    </div>
    <div>
      comments: <br/>
      <textarea class='text' name="comments"></textarea>
    </div>


    <button type='submit'>
      save
    </button>
  </form>
</div>

<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = [];
{% for p in pages %}
	states.push("{{ p.name }}");
{% endfor %}

$('#pageid').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'page',
  source: substringMatcher(states)
});

</script>
{% endblock %}

