body {
  margin: auto;
	padding-left: 10px;
}

.namespace {
}

.newspaper .namespace {
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;

}

.newspaper {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */

  column-count: 3;
  column-rule: 1px solid lightblue;

}

input {
	height: 3em;
  padding-left: 5px;
}

.singlecol {
  max-width: 600px;
  column-count: 1;
}

.namespace li {
  list-style: none;
  margin-left: 0px;
}

.jrnl {
  display: block;
  padding: 10px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 800px;
  padding: 20px;
}


.grayed {
  background-color: #ededed;
}

.container-fluid .filename,
.container-fluid .timestamp {
  color: gray;
  font-family: monospace;
  line-height: 1.2em;
  font-size: small;
}

.filename a {
  font-family: monospace;
}

.snippet {
  white-space: pre;
  display: block;
  background-color: white;
  border-left: 4px solid #aaddaa;
  padding-left: 5px;
  font-family: monospace;
  overflow-x: auto;
}

.result {
  display: block;
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.formcontrol {
  width: 100%;
  margin: 0px;
}

.twitter-typeahead {
  width: 99%;
}

.header {
  padding: 10px;
}

.header a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

.header a:hover {
  color: #ffaadd;
}

form {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

s {
  text-decoration: strikethrough;
}

a s {
  background-color: #ffaadd;
}

b.match {
  background-color: #ffaadd;
}

.editor {
  float: left;
}

.editor .text {
  width: 800px;
  height: 600px;
}

.editor textarea {
  width: 800px;
}

.editor .quote {
  height: 200px;
}

.editor .text[name='metadata'] {
  height: 200px;
}

.editor .title {
  width: 800px;
}

h1 small {
  display: inline-block;
}

li p {
  margin: 0px;
}

.tt-suggestion {
	background-color: #fff;
	padding: 0px 10px;
}
.tt-cursor,
.tt-suggestion:hover {
	color: #ffaadd;
}
.tt-highlight {
	color: #ffaadd;
}

.breadcrumbs {
  margin-left: 10px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden !important;
}

.crumb {
  display: inline-block;
  padding: 5px;
  background-color: #aaddff;
  margin-right: 5px;
}
.crumb:nth-child(2) {
  background-color: #aaffdd;

}
.home.crumb {
  background-color: #ffaadd;
}

form.newpage,
.crumb form {
  padding: 0px;
  margin: 0px;
  display: inline;
  background-color: inherit;
  border: 0px;
}

.crumb form button {
  padding: 0px;
  margin: 0px;
  font-size: 70%;
  margin-left: 5px;
  background-color: inherit;
	border: 0px;
	padding: 5px;
}

.crumb form button:hover {
	background-color: lightgray;
}

.pagelisting.hidden {
  display: none;
}

h2 {
	font-size: 2em;
	margin: 0px;
	margin-left: 10px;
}

.total {
	padding-right: 10px;
}

body {
  background-color: #fff;
}

body .dualpane {
  overflow: visible;
}

.dualpane .pane {
  overflow: visible;
  float: left;
  width: 100%;
}

.dualpane .preview {
  background-color: white;
}

.dualpane .previewpane {
  margin-left: 300px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.dualpane .pane .pagelisting {
  overflow-y: auto;
  position: absolute;
  top: 8em;
  background-color: white;
  bottom: 10px;
  left: 10px;
  width: 25%;
  max-width: 300px;
  border-right: 2px solid lightgray;
}

.dualpane .namespace li:nth-child(even) {
  background-color: #fefefe;
}
.dualpane .namespace li:nth-child(odd) {
}

.dualpane .pane .preview,
html, body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.pagelisting {
  direction: rtl;
}

.newspaper.pagelisting {
  direction: ltr;
}

.namespace {
  direction: ltr;
}

.quicklinks {
  clear: both;
  height: 2em;
  direction: ltr;
}

.fixedheader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 10px;
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 1;
}

.afterheader {
  margin-top: 8em;
}

.quicklinks {
  z-index: 100;
}

blockquote {
  margin-left: 25px;
  border: 1px solid lightgray;
  border-left: 5px solid orange;
  padding-left: 5px;
  font-size: 80%;
}

.mtl {
  margin-top: 10px;
}

