body {
  margin: auto;
  padding-bottom: 20px;
}

.namespace {
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;

}

.newspaper {
  column-count: 3;
  column-rule: 1px solid lightblue;

}

.singlecol {
  max-width: 600px;
  column-count: 1;
}

.namespace li {
  list-style: none;
}

.jrnl {
  display: block;
  padding: 10px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 800px;
  padding: 20px;
}


.grayed {
  background-color: #ededed;
}

.container .filename,
.container .timestamp {
  color: gray;
  font-family: monospace;
  line-height: 1.2em;
  font-size: small;
}

.filename a {
  font-family: monospace;
}

.snippet {
  white-space: pre;
  display: block;
  background-color: white;
  border-left: 4px solid #aaddaa;
  padding-left: 5px;
  font-family: monospace;
  overflow-x: auto;
}

.result {
  display: block;
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.formcontrol {
  width: 100%;
  margin: 0px;
}

.twitter-typeahead {
  width: 99%;
}

.header {
  padding: 10px;
}

.header a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

.header a:hover {
  color: #ffaadd;
}

form {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

s {
  text-decoration: strikethrough;
}

a s {
  background-color: #ffaadd;
}

b.match {
  background-color: #ffaadd;
}

.editor {
  float: left;
}

.editor .text {
  width: 800px;
  height: 600px;
}

.editor textarea {
  width: 800px;
}

.editor .quote {
  height: 200px;
}

.editor .text[name='metadata'] {
  height: 200px;
}

.editor .title {
  width: 800px;
}

h1 small {
  display: inline-block;
}

li p {
  margin: 0px;
}

.tt-suggestion {
	background-color: #fff;
	padding: 0px 10px;
}
.tt-cursor,
.tt-suggestion:hover {
	color: #ffaadd;
}
.tt-highlight {
	color: #ffaadd;
}

.breadcrumbs {
  margin-left: 10px;
}

.crumb {
  display: inline-block;
  padding: 5px;
  background-color: #aaddff;
  margin-right: 5px;
  font-size: 70%;
}
.crumb:nth-child(2) {
  background-color: #aaffdd;

}
.home.crumb {
  background-color: #ffaadd;
}

form.newpage,
.crumb form {
  padding: 0px;
  margin: 0px;
  display: inline;
  background-color: inherit;
  border: 0px;
}

.crumb form button {
  padding: 0px;
  margin: 0px;
  font-size: 70%;
  margin-left: 5px;
  background-color: inherit;
}


